 @import "partials/normalize";



 @function pxToRem($pixels){
	@return $pixels/16 + rem;
}

@function pxToEm($pixels){
 @return $pixels/16 + em;
}



 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  font-size: 14px;

  @media(max-width: 1399px) {
    font-size: 10px;
  }

  @media(max-width: 1029px) {
    font-size: 8px;
  }

  @media(max-width: 767px) {
    font-size: 6px;
  }

  @media(max-width: 479px) {
  font-size: 6px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-weight: 900;
  background-color: #fcb514;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2em 3.3em 0 3.3em;
  //position: fixed;
  width: 100%;
  top: 0;
  border: 1px solid red;
  height: 13vh;

  .icon__close-button {
    width: pxToRem(70);
    cursor: pointer;
    stroke: #FCB514;
    position: relative;
    z-index: 20;
    transition: all 300ms ease-in-out;
  }

  .icon__main-logo {
    //width: pxToRem(77);
    width: 3.5vw;
  }

  .alternative-logo-wrapper {
    //: 1px solid blue;
    position: relative;
  }

  .icon__alternative-logo {
    //width: pxToRem(185);
    width: 8.4vw;
    //border: 1px solid red;
    bottom: 1.3em;
    position: relative;
  }

  .icon__question-mark {
    //width: pxToRem(77);
    width: 3.5vw;
    cursor: pointer;
    fill: white;
    position: relative;
    z-index: 20;
    transition: all 300ms ease-in-out;
  }
}

.close-button-wrapper {
  border: 2px solid #FCB514;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  &:hover {
    border: 2px solid transparent;
    transition-delay: 150ms;
  }

  &:hover .hover-animation-container-2 {
    width: 150%;
    height: 150%;
  }

  &:hover .icon__close-button {
    stroke: white;
  }
}

.question-mark-wrapper {
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  &:hover {
    border: 2px solid transparent;
    transition-delay: 150ms;
  }

  &:hover .hover-animation-container {
    width: 150%;
    height: 150%;
  }

  &:hover .icon__question-mark {
    fill: #FCB514;
  }
}

.hover-animation-container {
  width: 0%;
  height: 0%;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}

.hover-animation-container-2 {
  width: 0%;
  height: 0%;
  background-color: #FCB514;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}












.about-curtain__header {
  @extend .header;
  opacity: 0;
  visibility: hidden;
  transition-delay: 200ms;
}

.video-curtain__header {
  @extend .header;
  opacity: 0;
  visibility: hidden;
  transition-delay: 250ms;
}



.video-curtain {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: white;
  top: -200vh;
  transition: top 300ms ease-in-out;

  &.visible {
    top: 0;

    .video-curtain__header {
      opacity: 1;
      visibility: visible;
      transition-delay: 100ms;
    }
  }
}

iframe {
  width: 100%;
  height: 100vh;
}

.video-wrapper {
  width: 100%;
  height: 100vh;
  //border: 3px solid red;
  overflow: hidden;
}



.about-curtain {
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 10;
  position: absolute;
  top: -100vh;
  transition: top 300ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &__operator-sign {
    font-size: pxToRem(50);
    color: black;
  }

  &.visible {
    top: 0;

    .about-curtain__header {
      opacity: 1;
      visibility: visible;
      transition-delay: 100ms;
    }
  }

  &__creators-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1.1em auto 0 auto;
    //border: 1px solid red;

    .icon__main-logo {
      width: pxToRem(100);
    }
  }

  &__text-wrapper {
    text-align: center;
    color: black;
    //width: 13em;
    //border: 1px solid blue;
    margin-top: 4em;
    font-size: pxToRem(33);

    p {
      margin: 0 auto;
    }

    .standard {
      width: 13em;
    }

    .narrow {
      width: 10em;
      margin: 0 auto;
    }

    .more-space {
      width: 15em;
      margin: 2.5em 0 0 0;
    }
  }




  .icon__panowie-programisci-logo {
    width: pxToRem(90);
  }

  .icon__space-monkeys-logo {
    width: pxToRem(115);
  }
}



.section {
  width: 100%;
  height: 64vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  //border: 1px solid blue;
  //background-image: url("../back.jpg");

  &__content-wrapper {
    //margin-bottom: pxToRem(90);
  }
}

.counter {
  display: flex;
  justify-content: center;

  &__circle {
    //width: pxToRem(470);
    //height: pxToRem(470);
    width: 21.5vw;
    height: 21.5vw;
    border: 0.4375em solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__circle-2 {
    position: relative;
  }

  &__copy-wrapper {
    display: inline-block;
    text-align: center;

    &--relative {
      @extend .counter__copy-wrapper;
      position: relative;
      bottom: 0.9em;
    }
  }

  .counter__half-circle {
    position: absolute;
    left: 50%;
    top: 4em;
    transform: translateX(-50%);
    //height: pxToRem(195);
    //width: pxToRem(390);
    height: 9vw;
    width: 18vw;
    background-color: white;
    //border-bottom-left-radius: pxToRem(390);
    //order-bottom-right-radius: pxToRem(390);
    border-bottom-left-radius: 18vw;
    border-bottom-right-radius: 18vw;
  }

  &__copy {
    margin: 0;
    padding: 0;

    &--small {
      //font-size: pxToRem(37);
      font-size: 1.7vw;
      font-weight: 400;
      position: relative;
      z-index: 5;
    }

    &--medium {
      //font-size: pxToRem(62);
      font-size: 2.8vw;
      background-color: #fcb514;
      position: relative;
      z-index: 3;
      margin-top: -0.2em;
      padding-bottom: 0.3em;
    }

    &--big {
      font-size: pxToRem(165);
      font-size: 7.5vw;
      margin: 0;
      padding: 0;
    }
  }

  &__copy-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    //margin-top: pxToRem(50);
  }
}

.play-button-wrapper {
  top: -3.2em;
  right: 1.6em;
  transform: translateX(100%);
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  //width: pxToRem(155);
  //height: pxToRem(155);
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    border: 2px solid transparent;
    transition-delay: 150ms;
  }

  &:hover .hover-animation-container {
    width: 150%;
    height: 150%;
  }

  &:hover .icon__play-button {
    fill: #fcb514;
  }
}

.icon__play-button {
  width: 100%;
  fill: white;
  position: relative;
  z-index: 10;
  transition: all 300ms ease-in-out;
}



.footer {
  height: 23vh;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-bottom: 0.6em;
  position: relative;
  bottom: 0;
  //position: fixed;
  width: 100%;
  flex-wrap: wrap;
  background-color: #fcb514;

  &__copy {
    font-size: pxToRem(36);
    font-size: 1.65vw;
  }

  &__copy--mobile {
    display: none;
  }

  .hover-animation-container {
    width: 0%;
    height: 0%;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
  }

  &__icon-wrapper {
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;

    &--left {
      @extend .footer__icon-wrapper;
      margin-right: 10px;
      margin-left: 20px;
    }

    &--right {
      @extend .footer__icon-wrapper;
      margin-left: 10px;
      margin-right: 20px;
    }

    &:hover {
      border: 1px solid transparent;
      transition-delay: 150ms;
    }

    &:hover .hover-animation-container {
      width: 150%;
      height: 150%;
    }

    &:hover .icon__app-store {
      fill: #FCB514;
    }

    &:hover .icon__google-play {
      fill: #FCB514;
    }
  }
}

.google-play-wrapper {
  display: flex;
   width: 50%;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50%;
}

.icon__google-play {
  //width: pxToRem(205);
  width: 9.4vw;
  //height: 9.4vw;
  top: 2px;
  fill: white;
  position: relative;
  z-index: 10;
  //margin-left: 20px;
  //margin-right: 10px;
  display: inline-block;
  transition: all 300ms ease-in-out;
}

.app-store-wrapper {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}



.icon__app-store {
  position: relative;
  z-index: 10;
  //transform: translate(-50%, -50%);
  top: 2px;
  //border: 1px solid red;
  //left: 50%;
  //width: pxToRem(205);
  width: 9.4vw;
  fill: white;
  //filter: invert(0%);
  //opacity: 0;
  //fill-opacity: 1;
  transition: all 300ms ease-in-out;
  //margin-right: 20px;
  //margin-left: 10px;
}



@media(max-width: 1029px) {

  .header {
    .icon__alternative-logo {
      bottom: 0;
    }
  }

  .counter {

    &__circle {
      width: pxToRem(470);
      height: pxToRem(470);
      //width: 21.5vw;
      //height: 21.5vw;
    }
  }

  .footer__copy {
      display: none;

      &--mobile {
        display: block;
        width: 100%;
        text-align: center;
        font-size: pxToRem(34);
      }
  }

  .icon__app-store {
    width: 1.2 * pxToRem(205);
  }

  .icon__google-play {
    width: 1.2 * pxToRem(205);
  }
}



@media(max-width: 767px) {

}



@media(max-width: 479px) {

  .counter__copy--big {
      font-size: 0.6 * pxToRem(165);
    }
}
